<div id="calculator-container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Severa calculator</h2>
    
    <label>Pick a day <strong>day</strong></label>

    <div class="controls">
      <select id="pickaday">
  		<option value="0">Monday</option> 
  		<option value="1">Tuesday</option>
  		<option value="2">Wednesday</option>
  		<option value="3">Thuesday</option>
  		<option value="4">Friday</option>
  		<option value="5">Saturday</option>
  		<option value="6">Sunday</option>
	  </select>
    </div>

    <label>When did you <strong>come?</strong></label>
    
    <div class="controls">
      <input id="start-hours" type="text" class="small-input" placeholder="hh">
      <input id="start-minutes" type="text" class="small-input" placeholder="mm">
    </div>

    <label>When did you <strong>leave?</strong></label>
    
    <div class="controls">
      <input id="end-hours" type="text" class="small-input" placeholder="hh" value="<%= endHours %>">
      <input id="end-minutes" type="text" class="small-input" placeholder="mm" value="<%= endMinutes %>">
    </div>

    <hr />

    <label>How long was your <strong>lunch?</strong></label>
    
    <div class="controls">
      <input id="lunch-hours" type="text" class="small-input" placeholder="hh">
      <input id="lunch-minutes" type="text" class="small-input" placeholder="mm">
    </div>

    <label>Other tasks</label>

    <div class="controls">
      <input id="task1-desc" type="text" class="medium-input" placeholder="Description">
      <input id="task1-hours" type="text" class="small-input" placeholder="hh">
      <input id="task1-minutes" type="text" class="small-input" placeholder="mm">
      <span id="severa-time1" class="severa-time"></span>
    </div>

    <div class="controls">
      <input id="task2-desc" type="text" class="medium-input" placeholder="Description">
      <input id="task2-hours" type="text" class="small-input" placeholder="hh">
      <input id="task2-minutes" type="text" class="small-input" placeholder="mm">
      <span id="severa-time2" class="severa-time"></span>
    </div>

    <div class="controls">
      <input id="task3-desc" type="text" class="medium-input" placeholder="Description">
      <input id="task3-hours" type="text" class="small-input" placeholder="hh">
      <input id="task3-minutes" type="text" class="small-input" placeholder="mm">
      <span id="severa-time3" class="severa-time"></span>
    </div>

    <div class="controls">
      <input id="task4-desc" type="text" class="medium-input" placeholder="Description">
      <span id="unmarked-span"><strong id="unmarked">0:00</strong></span>
      <span id="severa-time-unmarked" class="severa-time"></span>
    </div>

    <div class="controls">
      <label class="checkbox">
        <input id="round" type="checkbox" checked="checked"> Round to nearest 15 mins
      </label>
    </div>

  </form>
</div>